<div class="container">
    <div class="d-flex justify-content-between d-none">
        <div class="h2">User</div>
        <div>
            <button class="btn btn-outline-warning">New Booking</button>
        </div>
    </div>
    <ul class="nav nav-underline">
        <li class="nav-item mx-3 element" [class.border-bottom]="currentTabName == 'New Booking'">
            <span class="nav-link text-light" (click)="tabClick('New Booking')">New Booking</span>
        </li>
        <li class="nav-item mx-3 element" [class.border-bottom]="currentTabName == 'Upcoming Bookings'">
            <span class="nav-link text-light" (click)="tabClick('Upcoming Bookings')">Upcoming Bookings</span>
        </li>
        <li class="nav-item mx-3 element" [class.border-bottom]="currentTabName == 'Completed Bookings'">
            <span class="nav-link text-light" (click)="tabClick('Completed Bookings')">Completed Bookings</span>
        </li>
        <li class="nav-item mx-3 element" [class.border-bottom]="currentTabName == 'All Bookings'">
            <span class="nav-link text-light" (click)="tabClick('All Bookings')">All Bookings</span>
        </li>
    </ul>
    <hr>
    <div class="my-3">
        <div *ngIf="currentTabName == 'Upcoming Bookings'">
            <app-upcoming-bookings></app-upcoming-bookings>
        </div>
        <div *ngIf="currentTabName == 'Completed Bookings'">
            <app-completed-bookings></app-completed-bookings>
        </div>
        <div *ngIf="currentTabName == 'All Bookings'">
            <app-all-bookings></app-all-bookings>
        </div>
        <div *ngIf="currentTabName == 'New Booking'">
            <app-new-booking></app-new-booking>
        </div>
    </div>
</div>