<div class="container-fluid px-5">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span class="h4"><span class="text-warning"><i class="bi bi-film"></i></span> Theaters</span>
        </div>
        <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#addTheaterFormModal">Add Theater
            <span class="ms-1"><i class="bi bi-plus-lg"></i></span></button>
    </div>
    <hr>
    <div class="row">
        <div *ngIf="theaters.length == 0">
            <div class="bg-dark text-center p-5 h5">No theaters added yet. Try adding few.</div>
        </div>
        <div class="table-responsive rounded table-container">
            <table class="table table-dark table-striped sticky-header-table">
                <thead>
                    <tr>
                        <th scope="col" class="text-warning">#</th>
                        <th scope="col" class="text-warning">Theater Id</th>
                        <th scope="col" class="text-warning">Name</th>
                        <th scope="col" class="text-warning">Location</th>
                        <th scope="col" class="text-warning">Screens</th>
                        <th scope="col" class="text-warning">Movies</th>
                        <th scope="col" class="text-warning">Phone Number</th>
                        <th scope="col" class="text-warning">Date created</th>
                        <th scope="col" class="text-warning"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let theater of theaters let i=index">
                        <th scope="row">{{i+1}}</th>
                        <th>{{theater.id}}</th>
                        <td>{{theater.name}}</td>
                        <td>{{theater.location}}</td>
                        <td>{{theater.screens.length}}</td>
                        <td>{{theater.movies.length}}</td>
                        <td>{{theater.phoneNumber}}</td>
                        <td>{{theater.createdAt | date }}</td>
                        <td><a class="text-light" [routerLink]="['theater', encryptedId(theater.id)]">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- add theater modal -->
<div class="modal fade" id="addTheaterFormModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog border border-dark-subtle rounded">
        <div class="modal-content dark-my-modal">
            <form [formGroup]="theaterForm" (ngSubmit)="submitAddTheaterForm()">
                <div class="modal-header" data-bs-theme="dark">
                    <p class="modal-title h5"><span class="text-warning"><i class="bi bi-plus-lg"></i> Add</span> a
                        theater
                    </p>
                    <button #closeAddTheaterModal type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="bg-dark rounded p-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control dark-input" id="name" placeholder="theater name"
                                formControlName="name">
                            <label for="name">Name of theater</label>
                        </div>

                        <div class="form-floating my-3">
                            <input type="text" class="form-control dark-input" id="location"
                                placeholder="Location of theater" formControlName="location">
                            <label for="location">Location of theater</label>
                        </div>

                        <div class="form-floating my-3">
                            <input type="text" class="form-control dark-input" id="phoneNumber"
                                placeholder="Phone number" formControlName="phoneNumber">
                            <label for="phoneNumber">Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary mx-1" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-warning mx-1" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>