<div class="container">
    <div class="my-3">
        <div class="my-1">
            <span class="h2">{{theater?.name}}</span>
        </div>
        <div class="my-2">
            <span class="my-1">
                <span class="text-warning"><i class="bi bi-geo-alt"></i> Location</span>
                <span class="h6 mx-2">{{theater?.location}}</span>
            </span>
            <span class="my-1 mx-4">
                <span class="text-warning"><i class="bi bi-telephone"></i> Phone</span>
                <span class="h6 mx-2">{{theater?.phoneNumber}}</span>
            </span>
            <span class="my-1 mx-4">
                <span class="text-warning"><i class="bi bi-calendar2"></i> Since</span>
                <span class="h6 mx-2">{{theater?.createdAt | date: 'yyyy' }}</span>
            </span>
            <span class="my-1 mx-4">
                <span class="text-warning"><i class="bi bi-film"></i> Movies</span>
                <span class="h6 mx-2">{{theater?.movieIds?.length}}</span>
            </span>
            <span class="my-1 mx-4">
                <span class="text-warning"><i class="bi bi-tv"></i> Screens</span>
                <span class="h6 mx-2">{{theater?.screenIds?.length}}</span>
            </span>
        </div>
        <hr>
    </div>
    <div>
        <div class="d-flex justify-content-between">
            <p class="h4">Show times</p>
            <a [routerLink]="getRouterLink()" class="btn btn-outline-warning">Add Showtimes</a>
        </div>
        <div class="d-flex my-2" style="overflow: auto;">
            <span class="border border-warning rounded-3 text-warning p-2 mx-3">09:30 AM</span>
            <span class="border border-warning rounded-3 text-warning p-2 mx-3">01:00 PM</span>
            <span class="border border-warning rounded-3 text-warning p-2 mx-3">05:00 PM</span>
            <span class="border border-warning rounded-3 text-warning p-2 mx-3">07:00 PM</span>
        </div>
    </div>
    <hr>
    <div class="">
        <div class="d-flex justify-content-between">
            <p class="h4">Shows</p>
            <a [routerLink]="'/theater-show/'+theaterId" class="btn btn-outline-warning">Add Shows</a>
        </div>
        <div class="d-flex my-3" style="overflow: auto;">

            <div *ngFor="let movie of movies" class="card bg-dark text-light mx-3" style="width: 13rem; min-width: 13rem;">
                <img src="../../../assets/logo.png" class="card-img-top" alt="movie" style="width: 100%;">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">{{movie.releaseDate | date: 'mediumDate'}}</p>
                </div>
            </div>

        </div>
    </div>
    <hr> 
    <div class="">
        <div class="d-flex justify-content-between">
            <p class="h4">Movies</p>
            <a [routerLink]="getRouterLink()" class="btn btn-outline-warning">Add Movies</a>
        </div>
        <div class="d-flex my-3" style="overflow: auto;">

            <div *ngFor="let movie of movies" class="card bg-dark text-light mx-3" style="width: 13rem; min-width: 13rem;">
                <img src="../../../assets/logo.png" class="card-img-top" alt="movie" style="width: 100%;">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">{{movie.releaseDate | date: 'mediumDate'}}</p>
                </div>
            </div>

        </div>
    </div>
    
</div>