<div class="container">

    <div class="my-3">
        <div class="my-1">
            <span class="h2">{{theater?.name}}</span>
        </div>
        <div class="my-2">
            <span class="my-1">
                <span class="text-warning"><i class="bi bi-geo-alt"></i> Location</span>
                <span class="h6 mx-2">{{theater?.location}}</span>
            </span>
            <span class="my-1 mx-4">
                <span class="text-warning"><i class="bi bi-telephone"></i> Phone</span>
                <span class="h6 mx-2">{{theater?.phoneNumber}}</span>
            </span>
            <span class="my-1 mx-4">
                <span class="text-warning"><i class="bi bi-calendar2"></i> Since</span>
                <span class="h6 mx-2">{{theater?.createdAt | date: 'yyyy' }}</span>
            </span>
            <span class="my-1 mx-4">
                <span class="text-warning"><i class="bi bi-film"></i> Movies</span>
                <span class="h6 mx-2">{{theater?.movies?.length}}</span>
            </span>
            <span class="my-1 mx-4">
                <span class="text-warning"><i class="bi bi-tv"></i> Screens</span>
                <span class="h6 mx-2">{{theater?.screens?.length}}</span>
            </span>
        </div>
    </div>
    <hr>
    <div>
        <div class="d-flex justify-content-between">
            <p class="h4"><span class="mx-1 text-warning"><i class="bi bi-calendar-week"></i></span>Timeslots</p>
            <button class="btn btn-outline-warning" type="button" data-bs-toggle="modal"
                data-bs-target="#addTimeslotsModal">Add Timeslots <i class="bi bi-plus-lg"></i></button>

        </div>
        <div *ngIf="theater?.timeslots?.length == 0" class="my-2 p-5 bg-dark rounded text-center">
            <span class="h6">No timeslots. Begin to add some timeslots.</span>
        </div>
        <div class="d-flex my-2" style="overflow: auto;">
            <span *ngFor="let timeslot of theater?.timeslots"
                class="border border-warning rounded-3 text-warning p-2 mx-3">
                {{timeslot.startHH +":" + timeslot.startMM | clockFormat12}}
            </span>
        </div>
    </div>
    <hr>
    <div class="">
        <div class="d-flex justify-content-between">
            <p class="h4"><span class="mx-1 text-warning"><i class="bi bi-tv"></i></span>Shows</p>
            <button class="btn btn-outline-warning" (click)="initAddShowForm()">Add Shows <i
                    class="bi bi-plus-lg"></i></button>
            <button class="btn btn-outline-warning d-none" type="button" data-bs-toggle="modal" #openAddShowFormModal
                data-bs-target="#addShowsModal">Open Add Show Modal</button>
        </div>
        <div *ngIf="theater?.showtimes?.length == 0" class="my-2 p-5 bg-dark rounded text-center">
            <span class="h6">No Shows. Begin to add Shows.</span>
        </div>
        <div class="d-flex my-3" style="overflow: auto;">
            <div *ngFor="let showtime of theater?.showtimes" class="bg-dark rounded mx-2 p-2 text-center">
                <div> {{showtime.timeslot.startHH +":" + showtime.timeslot.startMM | clockFormat12}} </div>
                <div class="">{{showtime.movie.title}}</div>
                <div class="">{{showtime.screen.name}}</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="">
        <div class="d-flex justify-content-between">
            <p class="h4"><span class="mx-1 text-warning"><i class="bi bi-film"></i></span>Movies</p>
            <a [routerLink]="'/dashboard/theater-admin/movie-marketplace/' + this.theaterId"
                class="btn btn-outline-warning">Add Movies <i class="bi bi-plus-lg"></i></a>
        </div>
        <div *ngIf="theater?.movies?.length == 0" class="my-2 p-5 bg-dark rounded text-center">
            <span class="h6">No Movies. Begin to add movies.</span>
        </div>
        <div class="d-flex my-3" style="overflow: auto;">
            <div *ngFor="let movie of theater?.movies" class="card bg-dark text-light mx-3"
                style="width: 13rem; min-width: 13rem;">
                <img src="../../../assets/logo.png" class="card-img-top" alt="movie" style="width: 100%;">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">{{movie.releaseDate | date: 'mediumDate'}}</p>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- modal -->
<div class="modal fade" id="addTimeslotsModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content dark-my-modal">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Timeslots</h1>
                <button type="button" class="btn-close dark-modal-cross-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="text-center p-3 bg-dark rounded" [formGroup]="addTimeslotsForm"
                    (ngSubmit)="submitTimeslotForm()">
                    <div class="form-floating my-3">
                        <input type="number" class="form-control dark-input" id="floatingInput" min="0" max="23"
                            placeholder="Hours" formControlName="startHH">
                        <label for="floatingInput">Start hours</label>
                    </div>

                    <div class="form-floating my-3">
                        <input type="number" class="form-control dark-input" id="floatingPassword" min="0" max="59"
                            placeholder="Minutes" formControlName="startMM">
                        <label for="floatingPassword">Start minutes</label>
                    </div>
                    <!-- <button class="btn btn-warning w-75 py-2" type="submit">Log in</button> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    #cancelAddTimeslotsModalButton>Cancel</button>
                <button type="button" class="btn btn-warning" (click)="submitTimeslotForm()">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="addShowsModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content dark-my-modal">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add shows</h1>
                <button type="button" class="btn-close dark-modal-cross-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="bg-dark rounded p-1 px-3" [formGroup]="addShowsForm" (ngSubmit)="submitShowsForm()">
                    <div class="my-2">
                        <div class="form-floating my-3">
                            <input type="date" class="form-control dark-input" id="fromDayDate" [min]="minDate"
                                formControlName="fromDate">
                            <label for="fromDayDate">From Date</label>
                        </div>
                    </div>

                    <div class="my-2">
                        <div class="form-floating my-3">
                            <input type="date" class="form-control dark-input" id="toDayDate" [min]="minDate"
                                formControlName="toDate">
                            <label for="fromDayDate">To Date</label>
                        </div>
                    </div>

                    <div class="my-2">
                        <select class="form-select" aria-label="Default select example" formControlName="screenId">
                            <option class="dropdown-item" selected [value]="0">-- Select the screen --
                            </option>
                            <option class="dropdown-item" *ngFor="let screen of theater?.screens let i = index"
                                [value]="screen.id">
                                {{screen.name}}</option>
                        </select>
                    </div>

                    <div class="my-2">
                        <select class="form-select" aria-label="Default select example" formControlName="movieId">
                            <option class="dropdown-item" selected [value]="0">-- Select the movie--
                            </option>
                            <option class="dropdown-item" *ngFor="let movie of theater?.movies" [value]="movie.id">
                                {{movie.title}} - {{movie.releaseDate |
                                date: 'yyyy'}}</option>
                        </select>
                    </div>

                    <div class="">
                        Time-slot
                        <div formArrayName="timeslotsFormChecks"
                            *ngFor="let item of timeslotsFormChecksArray?.controls let i=index" class="form-check">
                            <input class="form-check-input" type="checkbox" [id]="i" [formControlName]="i">
                            <label class="form-check-label" [htmlFor]="i">{{theater?.timeslots?.[i]?.startHH
                                +":" + theater?.timeslots?.[i]?.startMM | clockFormat12}}</label>
                        </div>
                    </div>

                    <!-- <div class="my-2 d-flex justify-content-center">
                        <button class="btn btn-warning w-25 py-2" type="submit">Add show</button>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    #closeAddShowFormModalButton>Cancel</button>
                <button class="btn btn-warning" (click)="submitShowsForm()">Add show</button>
            </div>
        </div>
    </div>
</div>