<div class="container">
    <div class="row text-center">
        <div class="col-3 px-3">
            <div class="border border-warning rounded indicator" (click)="navigate('movies')">
                <div class="bg-dark rounded rounded-3 py-3">
                    <span class="text-warning mx-2"><i class="bi bi-film"></i></span>Movies
                </div>
                <div class="h1 mt-3 pb-3">{{totalMovies | leadingZeros:2}}</div>
            </div>
        </div>
        <div class="col-3 px-3">
            <div class="border border-warning rounded py-4 indicator" (click)="navigate('movies')">
                <span class="text-warning mx-2"><i class="bi bi-tv"></i></span>Theaters
                <div class="h1 mt-3">{{totalTheaters | leadingZeros:2}}</div>
            </div>
        </div>
        <div class="col-3 px-3">
            <div class="border border-warning rounded py-4 indicator" (click)="navigate('movies')">
                <span class="text-warning mx-2"><i class="bi bi-person-circle"></i></span>Admins
                <div class="h1 mt-3">{{totalAdmins | leadingZeros:2}}</div>
            </div>
        </div>
        <div class="col-3 px-3">
            <div class="border border-warning rounded py-4 indicator" (click)="navigate('movies')">
                <span class="text-warning mx-2"><i class="bi bi-people-fill"></i></span>Users
                <div class="h1 mt-3">{{totalUsers | leadingZeros:2}}</div>
            </div>
        </div>
    </div>
</div>