.error-container {
	height: 100vh;
	/* background-color: #fff; */
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 5rem;
	/* color: #1d1c1c; */
	/*#ff5733*/
}

p{
	font-size: 1.5rem;
	/* color: #333; */
	margin-bottom: 20px;
}