<div class="container">
    <div class="d-flex mt-5 mb-2">
        <div class="mx-2">
            <div class="text-light" style="width: 15rem; min-width: 15rem;">
                <app-fallproof-image #profilePic [class]="'img-fluid profile-pic'" [src]="profilePicSrc"
                data-bs-toggle="modal"
                data-bs-target="#viewProfilePicModal"
                ></app-fallproof-image>
            </div>
            <div class="mx-2">
                <input #fileInputTag type="file" class="file-input d-none" accept="image/png, image/jpeg"
                    (change)="fileChangeEvent($event)">
                <a class=" nav-link my-1 profile-upload-link" (click)="openFileChooser()"> <i class="bi bi-upload"></i>
                    Update Profile Pic</a>
            </div>
        </div>
        <div class="m-3 mx-5">
            <span class="h2 my-2">{{user?.firstName}} {{user?.middleName}} {{user?.lastName}}</span>
            <div class="my-3 h5">
                <span class="text-warning"><i class="bi bi-envelope"></i></span>
                <span class="mx-2">{{user?.user?.email}}</span>
            </div>
            <div class="my-3 h5">
                <span class="text-warning">&#64;</span>
                <span class="mx-2">{{user?.user?.username}}</span>
            </div>
            <div class="my-3 h5">
                <span class="text-warning"><i class="bi bi-telephone"></i></span>
                <span class="mx-2">{{user?.phoneNumber}}</span>
            </div>
            <div class="my-3 h6">
                <span class="text-warning"><i class="bi bi-calendar2"></i></span>
                <span class="mx-2">{{user?.user?.createdAt}}</span>
                <span class="badge rounded-pill text-bg-warning mx-2">{{user?.user?.role}}</span>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button #profilePicPreviewModalLaunchButton type="button" class="btn btn-primary d-none" data-bs-toggle="modal"
data-bs-target="#profilePicPreviewModal">Preview Profile Pic</button>
<!-- Modal -->
<div class="modal fade" id="profilePicPreviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content dark-my-modal">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Preview profile pic</h1>
            <button type="button" class="btn-close dark-modal-cross-btn" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9 text-center">
                        <image-cropper #uploadedImage class="bg-dark" style="height:100%;" [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [transform]="transform" format="png"
                            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)" [roundCropper]="true" 
                            (cropperReady)="cropperReady()"
                            (loadImageFailed)="loadImageFailed()"></image-cropper>
                    </div>
                    <div class="col-3 row flex-column justify-content-center">
                        <div class="col text-center">
                            <img class="img-fluid border rounded rounded-circle" [src]="croppedImage" />
                        </div>
                        <div class="col text-center pt-5">
                            <button class="btn btn-outline-warning m-3" (click)="rotateLeft()"><i class="bi bi-arrow-counterclockwise"></i></button>
                            <button class="btn btn-outline-warning m-3" (click)="rotateRight()"><i class="bi bi-arrow-clockwise"></i></button>
                        </div>
                        <div class="col text-center mt-2">
                            <span>{{fileName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button #profilePicPreviewModalCloseButton type="button" class="btn btn-outline-light"
                data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-outline-warning" (click)="uploadProfilePic()">Submit</button>
        </div>
    </div>
</div>
</div>
<!-- modal -->
<div class="modal fade" id="viewProfilePicModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog border rounded">
        <div class="modal-content dark-my-modal">
            <div class="modal-header">
                <button type="button" class="btn-close dark-modal-cross-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <app-fallproof-image #profilePic [class]="'img-fluid'" [src]="profilePicSrc"></app-fallproof-image>
            </div>
        </div>
    </div>
</div>