<div class="row">
    <div class="col-3"></div>
    <div class="col-5">
        <form class="d-flex mx-auto" role="search">
            <input class="form-control me-2 dark-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
    </div>
    <div class="col-3">
        <div class="form-check text-start d-flex justify-content-end align-items-center">
            <select class="dark-input" name="Location" id="Location">
                <option value="">-Location-</option>
                <option value="">Option 1</option>
                <option value="">Option 1</option>
                <option value="">Option 1</option>
                <option value="">Option 1</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div *ngFor="let movie of movies" class="col-3 my-5 d-flex justify-content-center">
        <div class="card bg-dark text-light mx-2" style="width: 13rem; min-width: 13rem;">
            <app-fallproof-image [src]="movie.posterUrl" [class]="'card-img-top'" [alt]="'movie'"
                [style]="'width: 100%;'"></app-fallproof-image>
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <div class="d-flex justify-content-between my-3">
                    <span class="card-text">{{movie.releaseDate | date}}</span>
                    <span class="card-text">{{movie.genre}}</span>
                </div>
                <a [routerLink]="'/dashboard/movie/' + movie.id" class="btn btn-outline-warning">Book Now</a>
            </div>
        </div>
    </div>
</div>