<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <span class="h3"><span class="text-warning"><i class="bi bi-film"></i></span> Movies</span>
        </div>
        <div>
            <button class="btn btn-outline-warning mx-1" data-bs-toggle="modal" data-bs-target="#addMovieModal"><i
                    class="bi bi-plus-lg"></i> Add Movie</button>
        </div>
    </div>
    <hr>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Poster</th>
                <th scope="col">Title</th>
                <th scope="col">Release Year</th>
                <th scope="col">Release Month</th>
                <th scope="col">Language</th>
                <th scope="col">Duration</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{movie.id}}</td>
                <td><app-fallproof-image [src]="movie.posterUrl" [style]="'width:40px'"></app-fallproof-image> </td>
                <td>{{movie.title}}</td>
                <!-- <td>{{movie.releaseDate | date: 'mediumDate'}}</td> -->
                <td>{{movie.releaseDate | date: 'yyyy'}}</td>
                <td>{{movie.releaseDate | date: 'MMMM'}}</td>
                <td>{{movie.language}}</td>
                <td>{{movie.duration | minutesTohhmm}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.rating}}</td>
                <td><span class="mx-1 linkss">Quick View</span><a class="mx-1 linkss">Details</a></td>

            </tr>
        </tbody>
    </table>
</div>


<!-- modal -->
<div class="modal fade" id="addMovieModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog border rounded">
        <div class="modal-content dark-my-modal">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-warning" id="staticBackdropLabel"><i class="bi bi-film"></i> Add a
                    Movie</h1>
                <button type="button" class="btn-close dark-modal-cross-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class=" rounded text-center px-2" [formGroup]="addMovieForm" (ngSubmit)="submitMovie()">
                    <div class="row">
                        <div class="col my-2">
                            <div class="form-floating">
                                <input type="text" class="form-control dark-input" id="title"
                                    placeholder="Title of the movie" formControlName="title">
                                <label for="title">Title of the Movie</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col my-2">
                            <div class="form-floating">
                                <input type="date" class="form-control dark-input" id="releaseDate"
                                    placeholder="Release Date" formControlName="releaseDate">
                                <label for="releaseDate">Release Date</label>
                            </div>
                        </div>
                        <div class="col my-2">
                            <div class="form-floating">
                                <input type="number" class="form-control dark-input" id="duration"
                                    placeholder="Duration" formControlName="duration">
                                <label for="duration">Duration (Minutes)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col my-2">
                            <div class="form-floating">
                                <input type="text" class="form-control dark-input" id="genre"
                                    placeholder="confirm password" formControlName="genre">
                                <label for="genre">Genre</label>
                            </div>
                        </div>
                        <div class="col my-2">
                            <div class="form-floating">
                                <input type="text" class="form-control dark-input" id="rating" placeholder="First Name"
                                    formControlName="rating">
                                <label for="rating">Rating</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col my-2">
                            <div class="form-floating">
                                <input type="text" class="form-control dark-input" id="language"
                                    placeholder="Title of the movie" formControlName="language">
                                <label for="language">Language</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col my-2">
                            <div class="form-floating">
                                <textarea class="form-control dark-input textarea-height" id="description"
                                    formControlName="description" rows="10"></textarea>
                                <label for="description">Description</label>
                            </div>
                        </div>
                    </div>
                    <div class="row d-none">
                        <div class="col my-2">
                            <button #addMovieFormSubmitButton class="btn btn-warning w-50" type="submit"
                                [disabled]="isFormSubmissionInProcess">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    #cancelAddMovieModalButton>Cancel</button>
                <button type="button" class="btn btn-warning" (click)="modalSubmitButtonClicked()"
                    [disabled]="isFormSubmissionInProcess">
                    <span *ngIf="isFormSubmissionInProcess">
                        Submitting...
                        <div class="spinner-border spinner-border-sm mx-1" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </span>
                    <span *ngIf="!isFormSubmissionInProcess">Submit</span>
                </button>
            </div>
        </div>
    </div>
</div>