<div class="container">

    <div class="d-flex mt-5 mb-2">
        <div>
            <div class="bg-dark text-light mx-2" style="width: 15rem; min-width: 15rem;">
                <img src="../../../assets/logo.png" class="card-img-top" alt="movie" style="width: 100%;">
            </div>
        </div>
        <div class="mx-5">
            <span class="h2 my-2">{{movie.title}}</span>
            <div class="my-3 h5">
                <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                <span class="mx-2">{{movie.rating}} / 10</span>
            </div>
            <div class="my-3">
                <p class="h6">{{movie.genre}}</p>
            </div>
            <div class="my-3">
                <span class="badge rounded-pill text-bg-warning mx-2">{{convertMinutesToHHMM(movie.duration)}}</span>
                <span class="badge rounded-pill text-bg-warning mx-2">2D</span>
                <span class="badge rounded-pill text-bg-warning mx-2">{{movie.language}}</span>
            </div>
            <div class="my-3 bg-dark p-2 rounded">
                <span class="h6">Releasing on {{movie.releaseDate | date}}</span>
            </div>
        </div>
        <div class="my-3 mx-5 w-50 p-3 bg-dark rounded">
            <p class="h5">About the movie</p>
            <p class="h6">{{movie.description}}</p>
        </div>
    </div>
    <hr>
    <div class="">
        <form class="w-75" [formGroup]="bookingForm" (submit)="submitBookingForm()">
            <div class="">
                <div class="d-flex align-items-center">
                    <label class="mx-2" for="bookingdate">Looking for Date</label>
                    <input type="date" class="form-control dark-input w-25" id="bookingdate" placeholder="Password"
                        [min]="minDate" formControlName="bookingDate" (change)="submitBookingForm()">
                </div>
                <!-- <button class="btn btn-outline-warning"><i class="bi bi-search"></i></button> -->
            </div>
        </form>
    </div>
    <div class="my-3" *ngIf="movieBookingShowDTO?.length == 0">
        <div class="bg-dark rounded text-center p-5 h5">No shows available for this movie in any theater on this day
            <span class="text-warning"><i class="bi bi-emoji-frown-fill"></i></span></div>
    </div>
    <div>
        <div *ngFor="let dto of movieBookingShowDTO" class="my-3 p-4 rounded bg-dark">
            <div class="row">
                <div class="col-1 my-auto">
                    <span>{{dto.theaterName}}</span>
                </div>
                <div class="col-2 my-auto">
                    <div class="">{{dto.theaterLocation}}</div>
                    <div class="">{{dto.theaterPhoneNumber}}</div>
                </div>
                <div class="col-9 my-auto">
                    <div class="d-flex">
                        <span *ngFor="let show of dto.showtimeDTOs;">
                            <div class="mx-2 text-warning border border-warning rounded p-2 show-box"
                                (click)="showBoxClicked(dto.theaterId, show.id)">
                                {{show.startHH + ":" +show.startMM | clockFormat12}}
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>