<div class="d-flex mt-5 mb-2">
    <div>
        <div class="bg-dark text-light mx-2" style="width: 15rem; min-width: 15rem;">
            <img src="../../../assets/logo.png" class="card-img-top" alt="movie" style="width: 100%;">
        </div>
    </div>
    <div class="m-3 mx-5">
        <span class="h2 my-2">{{movie.title}}</span>
        <div class="my-3 h5">
            <span class="text-warning"><i class="bi bi-star-fill"></i></span>
            <span class="mx-2">{{movie.rating}} / 10</span>
            <span class="mx-3"></span>
        </div>
        <div class="my-3">
            <p class="h6">{{movie.genre}}</p>
        </div>
        <div class="my-3">
            <span class="badge rounded-pill text-bg-warning mx-2">{{convertMinutesToHHMM(movie.duration)}}</span>
            <span class="badge rounded-pill text-bg-warning mx-2">2D</span>
            <span class="badge rounded-pill text-bg-warning mx-2">{{movie.language}}</span>
        </div>
        <div class="my-3 bg-dark p-1">
            <span class="h6">Releasing on {{movie.releaseDate | date}}</span>
        </div>
        <div class="my-3">
        </div>
    </div>
    <div class="my-3 mx-5 w-50 p-3 bg-dark rounded">
        <p class="h5">About the movie</p>
        <p class="h6">{{movie.description}}</p>
    </div>
</div>
<hr>
<div class="d-flex">
    <form>
        <div class="">
            <label class="mx-2" for="bookingdate">Looking for Date</label>
            <input type="date" class="dark-input" id="bookingdate" placeholder="Password" formControlName="password">
        </div>
    </form>
</div>
<hr>
<div>
    <div *ngFor="let theater of movie.theaters" class="my-3 p-4 rounded bg-dark">
        <div class="row">
            <div class="col-1 my-auto">
                <span>{{theater.name}}</span>
            </div>
            <div class="col-2 my-auto">
                <div class="">{{theater.location}}</div>
                <div class="">{{theater.phoneNumber}}</div>
            </div>
            <div class="col-9 my-auto">
                <div class="d-flex">
                    <span *ngFor="let show of theater.showtimes"
                        class="mx-2 text-warning border border-warning rounded p-2">
                        {{show.startHH | leadingZero:2}} : {{show.startMM | leadingZero:2}} AM
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>